@model IEnumerable<Kuwait_Farms_Project.Models.Product>
@{
    ViewBag.Title = "Products";
}
<div style="max-width: 96%; margin-left: 0%; margin-top: 9%;">
    <div class="row row-cols-2 row-cols-md-4">

        @foreach (var item in Model)
        {
            if (item.Quntity == 0)
            {
                <div class="col mb-3" style="width: 19rem; " >
                    <div class="card h-100" style="width: 20rem;  height: 20rem ">
                        <img src="~/image/@item.Image" class="card-img-top" alt="..." style=" height: 20rem ">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">@item.ProductName</h5>
                            <h6>Price: @item.Price KD</h6>
                            <span style="color:orangered">Quntity: @item.Quntity</span>
                            <form action="/Home/cart?n=@item.Id" method="post">
                                <H3 style="text-align: right;" class="nav-link disabled"> <button class="nav-link disabled" type="submit" style="background-color:white; border:none">  <i class="fas fa-shopping-cart" style="color:rgb(126, 202, 160);"></i> </button></H3>
                            </form>
                        </div>
                    </div>
                </div>

            }
            else
            {

                <div class="col mb-3" style="width: 19rem; ">
                    <div class="card h-100" style="width: 20rem;  height: 20rem ">
                        <img src="~/image/@item.Image" class="card-img-top" alt="..." style=" height: 20rem ">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">@item.ProductName</h5>
                            <h6>Price: @item.Price KD</h6>
                            <span style="color:orangered">Quntity: @item.Quntity</span>
                            <form action="/Home/cart?n=@item.Id" method="post">
                                <H3 style="text-align: right;"> <button type="submit" style="background-color:white; border:none">  <i class="fas fa-shopping-cart" style="color:rgb(126, 202, 160);"></i> </button></H3>
                            </form>
                        </div>
                    </div>
                </div>


            }



        }






    </div>

    </div>


</div>


</div>

<div>
    <!-- Footer -->
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy;  Kuwait farms 2021</p>
        </div>
        <!-- /.container -->
    </footer>
</div>



