@model Kuwait_Farms_Project.Models.User
@{
    ViewBag.Title = "Signup";
}

<div>
    <div style=" background: url('../image/5656.jfif');  background-repeat: no-repeat; background-size: cover;    ">
        <div class="logall" style="background-color: rgba(255, 255, 255 , 0.1);">
            <div class="logsection">
                <div class="loginfo">

                    <!--   <img src="image/45.jfif"  style="width: 100%; height: 100%;" />  -->


                </div>
                <div class="logform">

                    <h1 style="margin-top: 90px;">Sign Up</h1>


                    @using (Html.BeginForm(actionName: "Signup", controllerName: "Home", method: FormMethod.Post, htmlAttributes: new { @class = "log" }))
                    {

                        @Html.EditorFor(ww => ww.Name, additionalViewData: new { htmlAttributes = new { @class = "text-box", PlaceHolder = "Name" } })
                        <br/>
                        @Html.ValidationMessageFor(ww => ww.Name, "", htmlAttributes: new { @class = "text-danger errmsg" })
                        <br />


                        @Html.EditorFor(ww => ww.Email, additionalViewData: new { htmlAttributes = new { @class = "text-box", PlaceHolder = "Email" } })
                        <br/>
                        @Html.ValidationMessageFor(ww => ww.Email, "", htmlAttributes: new { @class = "text-danger errmsg" })
                        <label class="text-danger"> @Html.DisplayFor(w => w.LoginErrorMsg)</label>
                        <br />


                        @Html.EditorFor(ww => ww.Password, additionalViewData: new { htmlAttributes = new { @class = "text-box", PlaceHolder = "Password" } })
                        <br/>
                        @Html.ValidationMessageFor(ww => ww.Password, "", htmlAttributes: new { @class = "text-danger errmsg" })
                        <br />
                        @Html.EditorFor(ww => ww.ConfirmPassword, additionalViewData: new { htmlAttributes = new { @class = "text-box", PlaceHolder = "Confirm Password" } })
                        <br/>
                        @Html.ValidationMessageFor(ww => ww.ConfirmPassword, "", htmlAttributes: new { @class = "text-danger errmsg" })

                        <br />
                       
                          @Html.EditorFor(ww => ww.BirthDate, additionalViewData: new
                      {
                          htmlAttributes = new
                          {
                              @class = "text-box",
                              PlaceHolder = "Birth Date",
                              Type = "Date"
                 }
                      })
                        <br/>
                                @Html.ValidationMessageFor(ww => ww.BirthDate, "", htmlAttributes: new { @class = "text-danger errmsg" })

                        <br />

                           @Html.EditorFor(ww => ww.Phone, additionalViewData: new { htmlAttributes = new { @class = "text-box", PlaceHolder = "Phone" } })
                        <br />
                        @Html.ValidationMessageFor(ww => ww.Phone, "", htmlAttributes: new { @class = "text-danger errmsg" })
                        <br />

                        <input type="submit" value="Signup" class="Send-btn" required style="margin-bottom: 40px;">
                        <br/>


                    }
                </div>

            </div>

        </div>
    </div>





    <div>
        <!-- Footer -->
        <footer class="py-4 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy;  Kuwait farms 2021</p>
            </div>
            <!-- /.container -->
        </footer>
    </div>



